<!DOCTYPE html>
<html>
<head>
  <title>Treebook</title>
  <%= stylesheet_link_tag    'default', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'default', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
background="http://41.media.tumblr.com/c00a404420a824de1258f4cd4351b58b/tumblr_nuw1rzUmWR1ugjz44o1_1280.jpg">
<%= yield %>

</body>
</html>
